body{
    background-color: #000000f5;
    
}
td{
    color: #ffffff;
}
.t1{
    color: #ffffff;
    font-size: 25px;
    text-align: center;

}
.t2{
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px;
    font-size: 16px;
}
.t3{
    color: #ffffff;
    font-size: 20px;
    text-align: center;

}
table{
    border-color: #ff0000;
}